<table class="table table-striped">
  <thead>
    <tr>
      <td align="center"><b>Employee Name</b></td>
      <td align="center"><b>Job Role</b></td>
      <td align="center"><b>Salary</b></td>
      <td align="center"><b>Birth</b></td>
      <td align="center"><b>Employee Registration</b></td>
      <td align="center" colspan="2"><b>Actions</b></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td align="center">{{ employee.name }}</td>
      <td align="center">{{ employee.job_role }}</td>
      <td align="center">{{ employee.salary | currency:'USD':'code' }}</td> <!--{{ money | currency:'USD':'symbol' }}-->
      <td align="center">{{ employee.birth }}</td>
      <td align="center">{{ employee.employee_registration }}</td>
      <td align="center"><a [routerLink]="['/employee', employee_id]" class="btn btn-success"><fa-icon [icon]="['fas', 'edit']"></fa-icon> Edit</a></td>
      <td align="center"><button (click)="deleteEmployee(employee_id)" class="btn btn-danger"><fa-icon [icon]="['fas','trash']"></fa-icon> Delete</button></td>
    </tr>
  </tbody>
</table>
