<div class="card">
  <div class="card-body">
    <form [formGroup]="employeeForm" novalidate (submit)="onSubmit()">
      <!-- INÍCIO BLOCO: Employee Name -->
      <div class="form-group">
        <label class="font-weight-bold" for="employee-name">Employee Name</label>
        <input type="text" class="form-control" placeholder="Type your Name" formControlName="name" #name />
      </div>
      <div *ngIf="validatorInputs('name')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('name')">
          The field 'Employee Name' is required.
        </div>
      </div>
      <!-- FIM BLOCO: Employee Name -->

      <!-- INÍCIO BLOCO: Job Role -->
      <div class="form-group">
        <label class="font-weight-bold" for="job-role">Job Role</label>
        <input class="form-control" type="text" placeholder="Type your Job Role" formControlName="job_role" #job_role />
      </div>
      <div *ngIf="validatorInputs('job_role')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('job_role')">
          The field 'Job Role' is required.
        </div>
      </div>
      <!-- FIM BLOCO: Job Role -->

      <!-- INÍCIO BLOCO: Salary -->
      <div class="form-group">
        <label class="font-weight-bold" for="salary">Salary</label>
        <input class="form-control" type="number" placeholder="Type your Salary" formControlName="salary" #salary />
      </div>
      <div *ngIf="validatorInputs('salary')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('salary')">
          The field 'Salary' is required.
        </div>
      </div>
      <!-- FIM BLOCO: Salary -->

      <!-- INÍCIO BLOCO: Birth -->
      <div class="form-group">
        <label class="font-weight-bold" for="birth">Birth</label>
        <input class="form-control" type="date" placeholder="YYYY/MM/DD/" formControlName="birth" #birth />
      </div>
      <div *ngIf="validatorInputs('birth')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('birth')">
          The field 'Birth' is required.
        </div>
      </div>
      <!-- FIM BLOCO: Birth -->

      <!-- INÍCIO BLOCO: Employee Registration -->
      <div class="form-group">
        <label class="font-weight-bold" for="employee-registration">Employee Registration</label>
        <input class="form-control" type="text" class="form-control" placeholder="Type your Employee Registration"
          formControlName="employee_registration" #employee_registration />
      </div>
      <div *ngIf="validatorInputs('employee_registration')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('employee_registration')">
          The field 'Employee Registration' is required.
        </div>
      </div>
      <!-- FIM BLOCO: Employee Registration -->

      <div class="form-group">
        <!-- O botão será o mesmo tanto para cadastrar, quanto editar pois a unica coisa que ele faz é chamar o método 'onSubmit' do formulário -->
        <button class="btn btn-primary" type="submit" [disabled]="employeeForm.pristine || employeeForm.invalid">
          <!-- Caso employee_id não exista, então mostra o icon e a mensagem de registrar -->
          <ng-container *ngIf="!employee_id">
            <fa-icon [icon]="icons.faUserPlus"></fa-icon> Register Employee
          </ng-container>

          <!-- Caso employee_id exista, então mostra o icon e a mensagem de editar -->
          <ng-container *ngIf="employee_id">
            <fa-icon [icon]="icons.faUserEdit"></fa-icon> Edit Employee
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
